@media screen and (max-width: 600px) {
    .header-nav{
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;

    }
    .brand-logo{
        height: 200px;

    }

    nav .brand-logo.center {
        left: 0; 
        -webkit-transform: none;
        transform: none;
    }

    .header-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .header-nav li {
        width: 100%;
        text-align: center;
    }
    
    .header-nav ul:last-child a{

        font-size: 20px;
    }

    .breadcrumb{
        font-size: 12px;
    }
    
}

